@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&family=Kalam&family=Devonshire&family=Itim&family=Kaushan+Script&family=Kurale&family=Nunito&family=Source+Serif+Pro&display=swap");
body {
  margin: 0;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

main {
  max-width: 1400px;
  margin: 0 auto;
}

body {
  margin: 0;
}

html {
  font-size: 62.5%;
}

.container_3 {
  margin: 6rem 6rem;
}

.container2 {
  margin: 20rem 20rem;
}

#confirmation-content {
  margin: 5rem;
  padding: 7rem;
}
#confirmation-content p#orderMessage {
  text-align: center;
  border: 9px solid black;
  padding: 10rem 1rem;
  line-height: 6rem;
  background: #c0b1cc;
  font-family: monospace;
  font-size: 25px;
  font-weight: 600;
}
#confirmation-content p#orderMessage .name-order {
  color: blanchedalmond;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  background-color: #f3e9f2;
}
.header img {
  padding-left: 3rem;
}
.header .panier {
  width: 100px;
  justify-content: space-between;
  align-items: center;
  margin-right: 10rem;
}
.header .panier a {
  display: flex;
  text-decoration: none;
}
.header .panier a img {
  width: 30px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.header .panier a p {
  font-family: fantasy;
  padding-top: 1rem;
}

.footer {
  padding: 1rem 0rem;
  background-color: #f3e9f2;
}
.footer h4 {
  text-align: center;
  font-family: fantasy;
  font-weight: lighter;
}

.menu-flex {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.teddyarticle-prev {
  margin-bottom: 5rem;
  box-shadow: 1px 34px 52px -21px rgba(168, 168, 168, 0.57);
}
.teddyarticle-prev .title-flex {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #6d5252d9;
  font-family: fantasy;
  height: 6rem;
}
.teddyarticle-prev a {
  text-decoration: none;
}
.teddyarticle-prev img {
  transform: scale(1);
  transition: transform 400ms;
}
.teddyarticle-prev img:hover {
  transform: scale(1.02);
  opacity: 0.3;
}

.proj-prev {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}
.proj-prev__image {
  width: 40%;
  height: 400px;
  box-shadow: 1px 34px 52px -21px rgba(168, 168, 168, 0.57);
}
.proj-prev__description {
  width: 30%;
  margin: 0 3rem;
  font-family: fantasy;
}
.proj-prev__description p {
  text-align: center;
}
.proj-prev__price {
  width: 40%;
  height: 800px;
  font-family: fantasy;
  background-color: white;
  border: 1px dashed red;
  box-shadow: 1px 34px 52px -21px rgba(234, 217, 217, 0.57);
}
.proj-prev__price p {
  text-align: center;
  font-size: 3rem;
  border-bottom: 2px dashed red;
  padding-bottom: 3rem;
}
.proj-prev__price span {
  padding-left: 2rem;
  font-size: 2rem;
  color: red;
  font-family: sans-serif;
}
.proj-prev__price select {
  width: 100%;
  margin-top: 3rem;
  padding-top: 1rem;
  font-family: fantasy;
  color: #0f48cc;
  padding-bottom: 1rem;
  padding-left: 2rem;
  font-size: 2rem;
}
.proj-prev__price label {
  padding-left: 2rem;
}
.proj-prev__price .add-to-cart {
  margin: 3rem 0rem 0rem 5rem;
  padding: 1rem;
  padding-right: 3rem;
  padding-left: 3rem;
  background-color: #ff0000f0;
  border-radius: 50px 50px 50px 50px;
  color: white;
  font-size: 2rem;
  border: red;
}

.cart-flex {
  display: flex;
}

.heading h2 {
  font-weight: 100;
}
.heading span {
  font-weight: bold;
}

.cart-content {
  width: 50%;
  margin-right: 4rem;
}
.cart-content .cart-prev {
  border: 1px solid black;
  margin-bottom: 10rem;
  font-family: fantasy;
  display: flex;
}
.cart-content .cart-prev > p,
.cart-content .cart-prev > span,
.cart-content .cart-prev > h3 {
  padding-right: 2rem;
}
.cart-content .cart-prev .cart-prev-image {
  width: 60%;
}
.cart-content .cart-prev .cart-prev-image img {
  width: 75%;
  height: 100%;
}
.cart-content .cart-prev .cart-prev-description {
  padding-bottom: 4rem;
}
.cart-content .cart-prev .cart-prev-description .flex {
  display: flex;
}
.cart-content .cart-prev .cart-prev-description .flex .result {
  text-align: center;
  width: 20%;
}
.cart-content .cart-prev .cart-prev-description .flex .fa-trash {
  padding-left: 1rem;
}

form {
  width: 50%;
}
form h3 {
  margin-top: 0;
}
form label {
  display: block;
  padding-bottom: 1rem;
  padding-left: 2rem;
}
form input {
  border-radius: 30px;
  width: 90%;
  padding: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}
form input#validation {
  background-color: black;
  width: 50%;
  margin-left: 12rem;
  color: white;
  font-size: 2rem;
}

/*# sourceMappingURL=style.css.map */
