.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: #f3e9f2;
    & img {
        padding-left: 3rem;
    }
    & .panier {
        width: 100px;
        justify-content: space-between;
        align-items: center;
        margin-right: 10rem;
        & a {
            display: flex;
            text-decoration: none;
            & img {
                width: 30px;
                padding-left: 1rem;
                padding-right: 1rem;
            }
            & p {
                font-family: fantasy;
                padding-top: 1rem;
            }
        }
    }
}

;