body {
    margin: 0;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

main {
    max-width: 1400px;
    margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&family=Kalam&family=Devonshire&family=Itim&family=Kaushan+Script&family=Kurale&family=Nunito&family=Source+Serif+Pro&display=swap');