.cart-flex {
    display: flex;
}

.heading {
    & h2 {
        font-weight: 100;
    }
    & span {
        font-weight: bold;
    }
}

.cart-content {
    width: 50%;
    margin-right: 4rem;
    & .cart-prev {
        border: 1px solid black;
        margin-bottom: 10rem;
        //  
        font-family: fantasy;
        display: flex;
        &>p,
        >span,
        >h3 {
            padding-right: 2rem;
        }
        & .cart-prev-image {
            width: 60%;
            & img {
                width: 75%;
                height: 100%;
            }
        }
        & .cart-prev-description {
            padding-bottom: 4rem;
        }
    }
}

form {
    width: 50%;
    & h3 {
        margin-top: 0;
    }
    & label {
        display: block;
        padding-bottom: 1rem;
        padding-left: 2rem;
    }
    & input {
        border-radius: 30px;
        width: 90%;
        padding: 1rem;
        margin-left: 1rem;
        margin-bottom: 2rem;
        &#validation {
            background-color: black;
            width: 50%;
            margin-left: 12rem;
            color: white;
            font-size: 2rem;
        }
    }
}